body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.custome-header {
  height: 10%;
}

.full-layout {
  background-color: cornflowerblue;
 }

.left-panel {
  background-color: darkorange;
}

.right-panel {
  background-color: darkorange;
}

.workspace-panel {
  background-color: sandybrown;
}

.footer {
  background-color: yellow;
}

.droppable {
  border: 2px solid greenyellow;
  min-height: 500px;
}